# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.HBDBServer.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

*.cache

HbLibrary.Test/bin/

HbLibrary.Test/obj/

HBDBServer/bin/

HBDBServer/obj/

HBAbstractions/obj/

HBAbstractions/bin/

HbLibrary/obj/

HbLibrary/bin/

HBLoggingService/obj/

HBLoggingService/bin/

HBDBLoggingServer.Test.Integration/bin/

HBDBLoggingServer.Test.Integration/obj/
