@page "/conf"
@inject HbConfClientApiService ApiService

<h3>HbConfiguration</h3>

<MudSelect T="string" Label="Select Configuration" 
           ValueChanged="@OnSelectionChanged">
    <MudSelectItem Value="@NewItemValue">-- NEW --</MudSelectItem>
    @foreach (var config in Configurations)
    {
        <MudSelectItem Value="@config.ProfileName">@config.ProfileName</MudSelectItem>
    }
</MudSelect>

<MudForm @ref="Form" OnValidSubmit="HandleSubmit">
    <MudTextField T="string" Label="Profile Name" @bind-Value="CurrentConfig.ProfileName" />
    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">
        Save
    </MudButton>
</MudForm>
